.profile-bg {
  background: url('https://github.com/miyeaier/react-portfolio/blob/master/Img/AdobeStock_199252786.jpeg?raw=true') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; 
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100vh;
}

.profile-bg:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  background-color: #fff;
  z-index: -1;
}

.profile-container {
  background-color: #fff;
  padding: 2rem;
  position: relative;
  top: 10%;
  border-radius: 10px;
  border: 1px solid gainsboro;
}

.profile-link:hover {
  font-weight: bold;
  font-size: 1.3rem;
}