@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


#welcome h1{
  text-align: center;
  font-size: 5rem;
  line-height:1.6;
  color:whitesmoke;
  font-family: 'Raleway', 'Black' !important;
  font-style: 'Black' !important;
  text-align: center;
  padding-bottom: 5rem;
}
#welcome body{ background-color:#1A2328;}

#welcome h5{
  text-align: center;
  font-size: 2rem;
  margin-top: -70px;
  color:whitesmoke;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 'light' !important;
  text-align: center;
  padding-bottom: 5rem;
}

#welcome h2{
  text-align: center;
  font-size: 4rem;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 'Extra-Bold' !important;
  line-height:0;
  color:whitesmoke;
}

                          
