@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#welcome h1{
  font-size: 80px;
  line-height:1.6;
  color:rgba(0, 0, 0, 0.808);
  font-family: 'Lato', sans-serif !important;
  font-weight: lighter !important;
  padding-bottom: 5rem;
}

#welcome h5{
  font-size: 2rem;
  margin-top: -70px;
  color:rgb(0, 0, 0);
  font-family: 'Lato' !important;
  padding-bottom: 5rem;
  font-weight: 800 !important;
}

#welcome h2{
  font-size: 6rem;
  font-family: 'Raleway-Black';
  font-weight: '900';
  line-height:0;
  color:rgba(0, 0, 0, 0.808);
}