@import url('https://fonts.googleapis.com/css?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');


#welcome h1{
  text-align: center;
  font-size: 5rem;
  line-height:1.6;
  color:whitesmoke;
  font-family: 'Condiment', cursive;
  text-align: center;
  padding-bottom: 5rem;
}

#welcome h5{
  text-align: center;
  font-size: 2rem;
  margin-top: -70px;
  color:whitesmoke;
  font-family: 'Condiment', cursive;
  text-align: center;
  padding-bottom: 5rem;
}

#welcome h2{
  text-align: center;
  font-size: 4rem;
  font-family: "Abril Fatface";
  font-style: Regular;
  font-weight: bold;
  line-height:0;
  color:whitesmoke;
}

                          
